@use "variables";
@use "../../stylesheets/breakpoint";

/* @include breakpoint-set('to ems', true); */
@include breakpoint.breakpoint-set("to ems", true);
.breakpoint-default-feature-to-ems {
    @include breakpoint.breakpoint(variables.$single-pixel-value) {
        content: "$single-pixel-value";
        content: "@media (min-width: 31.25em)";
    }
    @include breakpoint.breakpoint(variables.$single-em-value) {
        content: "$single-em-value";
        content: "@media (min-width: 30em)";
    }

    @include breakpoint.mq(variables.$single-pixel-value) {
        content: "$single-pixel-value";
        content: "@media (min-width: 31.25em)";
    }
    @include breakpoint.mq(variables.$single-em-value) {
        content: "$single-em-value";
        content: "@media (min-width: 30em)";
    }
}
